<tr>
  <td><%= question.body %></td>
  <td><%= link_to 'Question', test_question_path(question, test_id: @test.id) %></td>
  <td><%= link_to 'Answers', test_question_answers_path(question, test_id: @test.id) %></td>
</tr>