<h1><%= "Questions for #{@test.title}" %></h1>
<%= link_to 'Back to tests', tests_path %>
<table>
  <tr>
    <th>Body</th>
    <th colspan="1">Actions</th>
  </tr>
  <%= render @questions %>
</table>
