<div  style=" position: absolute; bottom: 0;" >
  <p style = 'display:inline-block'><%= year_today %></p>
  <p style = 'display:inline-block'> Антон Сташевский </p>
  <p style = 'display:inline-block'> Онлайн-тесты </p>
  <p style = 'display:inline-block'> <%= link_to 'github', github_url('AntonStashevski', 'test-guru'), target: :_blank %> </p>
  <p style = 'display:inline-block'> <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/',  target: :_blank %> </p>
</div>