<div  style=" position: absolute; bottom: 0;" >
  <p style = 'display:inline-block'><%= year_today %></p>
  <p style = 'display:inline-block'>Anton Stasheuski </p>
  <p style = 'display:inline-block'>Online-tests </p>
  <p style = 'display:inline-block'> <%= link_to 'github | ', github_url('AntonStashevski', 'test-guru'), target: :_blank %> </p>
  <p style = 'display:inline-block'> <%= link_to 'Educational project in online school Thinknetica | ', 'https://thinknetica.com/',  target: :_blank %> </p>
  <p style = 'display:inline-block'> <%= link_to 'Feedback', new_feedback_path,  target: :_blank %> </p>
</div>