<tr>
  <td><%= answer.body %></td>
  <td><%= correct_answer(answer) %></td>
  <td><%= link_to 'Edit', edit_answer_path(id: answer.id) %></td>
  <td><%= link_to 'Delete', answer_path(id: answer.id), method: :delete, data: { confirm: "Are you sure?"} %></td>
</tr>