<h1><%= "Ответ на вопрос \"#{@question.body}\" по #{@test.title} тесту" %></h1>
<%= link_to 'New question', new_test_question_answer_path %></br>
<%= link_to 'Back to tests questons', test_questions_path(params[:test_id]) %>
<table>
  <tr>
    <th>Body</th>
    <th>Correct</th>
    <th colspan="4">Actions</th>
  </tr>
  <%= render @answers %>
</table>