<h1><%= "Answer to the question \"#{@question.body}\" on #{@test.title} test" %></h1>
<%= link_to 'Back to tests questons', test_questions_path(params[:test_id]) %>
<table>
  <tr>
    <th>Body</th>
    <th>Correct</th>
  </tr>
  <%= render @answers %>
</table>