<h1><%= "Answer to the question \"#{@question.body}\" on #{@test.title} test" %></h1>
<%= link_to 'New answer', new_admin_test_question_answer_path %></br>
<%= link_to 'Back to tests questons', admin_test_questions_path(params[:test_id]) %>
<table>
  <tr>
    <th>Body</th>
    <th>Correct</th>
    <th colspan="4">Actions</th>
  </tr>
  <%= render @answers %>
</table>